# LOG
coloredlogs==14.0
python-json-logger==0.1.11

# ASCII ART
pyfiglet==0.7
termcolor==1.1.0
colorama==0.4.3

# FLASK
Flask==1.1.1
Flask-RESTful==0.3.8
flask-restplus==0.13.0
Flask-Cors==3.0.8
uWSGI==2.0.18
Werkzeug==0.16.1

# TWITTER 
tweepy==3.8.0

# NLTK
nltk==3.4.5

# EMOJI
emoji

# TEXT BLOB
textblob 
