coloredlogs==14.0
python-json-logger==0.1.11
pyfiglet==0.7
termcolor==1.1.0
colorama==0.4.3
Flask==1.1.1
Flask-RESTful==0.3.8
flask-restplus==0.13.0
Flask-Cors==3.0.8
uWSGI==2.0.18
Werkzeug==0.16.1
tweepy==3.8.0
nltk==3.4.5
emoji==0.5.4
textblob
